@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}
/* Style the header navigation bar */
.hnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the head nav links */
.hnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.hnav a:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}


.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}


/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}